@import '@styles/variables.scss';

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $space-xlarge;
    justify-content: space-between;

    .info {
        h1 {
            font-size: 2.5em;
            margin-bottom: 0.25em;

            @media (min-width: 480px) {
                font-size: 3em;
            }
        }

        p {
            color: $color-gray-4;
        }
    }

    &.track {
        gap: $space-medium;
        justify-content: start;

        .image {
            border-radius: 4px;
        }

        .info {
            h1 {
                font-size: 2em;

                @media (min-width: 480px) {
                    font-size: 3em;
                }
            }
        }
    }
}

.wrapper {
    .controls {
        background-color: #000000;
        border: 1px solid $color-gray-8;
        border-radius: 8px 8px 0 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: $padding-negative;
        padding: $padding;
        padding-bottom: calc($padding * 2);

        .info {
            span {
                font-weight: 500;
            }

            p {
                color: $color-gray-6;
                font-size: 0.85em;
            }
        }

        button,
        a {
            font-size: 0.85em;
        }
    }
}
