@import './normalize.scss';
@import './variables.scss';
@import './theme.scss';

// Typography

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

// Responsive Variables

:root {
    --font-size: calc(1rem / 16 * 13);
    --padding: 8px;

    @media (min-width: 480px) {
        --padding: 12px;
    }

    @media (min-width: $bp-stack-3) {
        --font-size: calc(1rem / 16 * 14);
    }
}

// Global styles

* {
    box-sizing: border-box;
    line-height: 1;
}

body {
    background-color: var(--theme-background-color);
    color: var(--theme-color);
    font-family:
        'FigTree',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: var(--font-size);
    padding: $padding;
    padding-top: 0;

    min-height: 2000px;
}

header,
main {
    margin: 0 auto;
    max-width: 1836px;
}

header {
    margin-bottom: $padding;
}

main {
    display: grid;
    gap: $padding;

    @media (min-width: $bp-stack-2) {
        grid-template-columns: grid-cols(2);
    }

    @media (min-width: $bp-stack-3) {
        grid-template-columns: grid-cols(3);
    }
}

a {
    @include focus-outline;

    color: var(--theme-shade-max);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
