@import './normalize.scss';
@import './constants.scss';
@import './variables.scss';

// Typography

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

// Global styles

* {
    box-sizing: border-box;
    line-height: 1;
}

body {
    background-color: var(--theme-background-color);
    color: var(--theme-color);
    font-family:
        'FigTree',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: calc(1rem / 16 * 13);
    padding: $space-m;
    padding-top: 0;

    @media (min-width: $breakpoint-3) {
        font-size: calc(1rem / 16 * 14);
    }

    min-height: 2000px;
}

header,
main {
    margin: 0 auto;
    max-width: 1836px;
}

header {
    margin-bottom: $space-m;
}

main {
    display: grid;
    gap: $space-m;
    grid-auto-columns: minmax(0, 1fr);

    @media (min-width: $breakpoint-2) {
        grid-template-columns: grid-cols(2);
    }

    @media (min-width: $breakpoint-3) {
        grid-template-columns: grid-cols(3);
    }
}

img {
    object-fit: cover;
}

a,
button {
    @include focus-outline;

    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

em {
    font-style: normal;
    font-weight: 600;
}
