// Breakpoints: 300px min-width for content

$bp-stack-2: 736px; // 2 columns
$bp-stack-3: 1098px;
$bp-stack-4: 1460px;

// Colors

$color-primary-0: #4a044e;
$color-primary-1: #a21caf;
$color-primary-2: #d946ef;
$color-primary-3: #e879f9;
$color-primary-4: #f5d0fe;
$color-primary-5: #fdf4ff;

$color-grey-0: #0e0e10;
$color-grey-1: #18181b;
$color-grey-2: #27272a;
$color-grey-3: #3f3f46;
$color-grey-4: #52525b;
$color-grey-5: #71717a;
$color-grey-6: #a1a1aa;
$color-grey-7: #d4d4d8;
$color-grey-8: #e4e4e7;
$color-grey-9: #f4f4f5;

$color-error: #ff1e00;
$color-warning: #ffae00;
$color-success: #14e310;

// Spacing

$padding: var(--padding);
$padding-large: calc($padding * 2);

$space-xsmall: 4px;
$space-small: 8px;
$space-medium: 12px;
$space-large: 18px;
$space-xlarge: 24px;
$space-xxlarge: 36px;
$space-xxxlarge: 60px;

// Stacking

$z-normal: 1;
$z-sticky: 10;
$z-overlay: 20;

// Transitions

$transition-speed: 0.15s;
$transition-speed-slow: calc($transition-speed * 2);
$transition: $transition-speed ease-in-out;
$transition-slow: $transition-speed-slow ease-in-out;

// Functions

@function grid-cols($number) {
    @return repeat($number, minmax(0, 1fr));
}

@function neg($value) {
    @return calc($value * -1);
}

// Mixins

@mixin focus-outline {
    outline: 1px dashed transparent;
    outline-offset: 2px;
    transition: $transition;
    transition-property: outline-color;

    &:focus-visible {
        outline-color: currentColor;
    }
}
