@import '@styles/constants.scss';

.image {
    border-radius: 4px;
}

.label {
    .header {
        color: var(--theme-color-secondary);
        display: flex;
        gap: 4px;
        margin-bottom: 4px;
    }

    > span {
        font-size: 1.5em;
        font-weight: 600;
    }
}
