@import '@styles/constants.scss';

.content {
    display: grid;
    gap: $space-xxl;
    padding: $space-xl 0;

    .main {
        display: grid;
        gap: $space-xl;
        justify-items: center;

        .image {
            border-radius: 4px;
        }

        .details {
            display: grid;
            gap: $space-l;
            justify-items: inherit;

            h1 {
                font-size: 2.5em;
                text-align: center;
            }

            .section {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: $space-l;
                justify-content: center;

                .artists,
                .album,
                .duration {
                    align-items: center;
                    display: flex;
                    gap: $space-s;
                }

                .duration,
                .explicit {
                    color: var(--theme-color-secondary);
                }

                .explicit {
                    border-radius: 4px;
                    font-size: 0.75em;
                    outline: 1px solid var(--theme-color-secondary);
                    padding: 0.5em;
                    text-transform: uppercase;
                }
            }
        }
    }

    .secondary {
        align-items: center;
        display: grid;
        gap: $space-l;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    @media (min-width: $breakpoint-3) {
        grid-template-columns: 4fr 2fr;
        padding: $space-l 0;

        .main {
            align-items: center;
            grid-template-columns: auto 1fr;
            justify-items: start;

            .details {
                h1 {
                    text-align: left;
                }

                .links {
                    justify-content: flex-start;
                }
            }
        }
    }
}
