// Borders

$border-radius-button: 4px;
$border-radius-panel: 8px;

// Colors

$color-primary-0: #fdf4ff;
$color-primary-1: #f5d0fe;
$color-primary-2: #e879f9;
$color-primary-3: #d946ef;
$color-primary-4: #a21caf;
$color-primary-5: #4a044e;

$color-gray-1: #f4f4f5;
$color-gray-2: #e4e4e7;
$color-gray-3: #d4d4d8;
$color-gray-4: #a1a1aa;
$color-gray-5: #71717a;
$color-gray-6: #52525b;
$color-gray-7: #3f3f46;
$color-gray-8: #27272a;
$color-gray-9: #18181b;
$color-gray-bg: #0e0e10;

$color-error: #ff1e00;
$color-warning: #ffae00;
$color-success: #14e310;

// Spacing

$space-xsmall: 4px;
$space-small: 8px;
$space-medium: 12px;
$space-large: 18px;
$space-xlarge: 24px;
$space-xxlarge: 36px;
$space-xxxlarge: 60px;

// Transitions

$transition: 0.15s ease-in-out;
$transition-slow: 0.3s ease-in-out;
