@import '@styles/constants.scss';

.item {
    align-items: center;
    background-color: var(--theme-tile-color);
    border-radius: 4px;
    container-type: inline-size;
    display: flex;
    padding: $space-s;
    position: relative;
    width: 100%;

    .content {
        align-items: center;
        display: grid;
        grid-template-columns: 60px 1fr auto;
        gap: $space-m;
        position: relative;
        width: 100%;
        z-index: 2;

        .image {
            border-radius: 2px;
            height: 100%;
            width: 100%;
        }

        .details {
            display: grid;
            gap: 4px;
            overflow: hidden;
            position: relative;
            scrollbar-width: none;
            white-space: nowrap;

            &::after {
                background-image: linear-gradient(
                    to left,
                    var(--theme-tile-color),
                    rgba(var(--theme-tile-color-rgb), 0)
                );
                content: '';
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 24px;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            .section {
                align-items: center;
                color: var(--theme-color-secondary);
                display: flex;
                font-size: 0.8em;
                gap: 4px;
                justify-content: flex-start;
            }
        }

        .data {
            align-items: flex-end;
            color: var(--theme-color-tertiary);
            display: flex;
            flex-direction: column;
            font-size: 0.9em;
        }
    }
}
