@import '@styles/variables.scss';

.wrapper {
    background-color: $color-grey-9;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 4px;
    container-type: inline-size;
    padding: $padding;
    position: relative;

    &::before {
        background-image: linear-gradient(
            to right,
            $color-grey-9,
            rgba($color-grey-9, 0.95)
        );
        content: '';
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .content {
        align-items: center;
        display: flex;
        gap: $padding-large;
        position: relative;
        z-index: 2;

        img {
            height: 48px;
            width: 48px;
        }

        .details {
            overflow: hidden;
            white-space: nowrap;

            .name {
                margin-bottom: 0.5em;
            }

            .meta {
                color: $color-grey-6;
                font-size: 0.8em;

                a {
                    color: inherit;
                }
            }
        }

        @container (min-width: 400px) {
            img {
                height: 60px;
                width: 60px;
            }
        }
    }
}
