@import '@styles/variables.scss';

.wrapper {
    background-color: var(--background-color);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 4px;
    container-type: inline-size;
    padding: $padding;
    position: relative;

    &::before {
        background-image: linear-gradient(
            to right,
            rgb(var(--overlay-color)),
            rgba(var(--overlay-color), 0.95)
        );
        content: '';
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .content {
        align-items: center;
        display: flex;
        gap: $padding-large;
        position: relative;
        z-index: 2;

        img {
            border-radius: 2px;
            height: 48px;
            width: 48px;
        }

        .details {
            overflow-x: scroll;
            scrollbar-width: none;
            white-space: nowrap;

            &::-webkit-scrollbar {
                display: none;
            }

            .name {
                margin-bottom: 0.5em;
            }

            .meta {
                color: $color-grey-6;
                font-size: 0.8em;

                a {
                    color: inherit;
                }
            }
        }

        .data {
            align-items: center;
            background-color: var(--background-color);
            border-radius: 4px;
            color: $color-grey-6;
            display: flex;
            font-size: 0.8em;
            gap: $padding;
            margin-left: auto;
            padding: $padding;
        }

        @container (min-width: 400px) {
            img {
                height: 60px;
                width: 60px;
            }
        }
    }
}
