@import '@styles/constants.scss';

.wrapper {
    &:has(.background) {
        padding-left: $space-m;
        position: relative;

        .background,
        .bar {
            border-radius: 3px;
            left: 0;
            position: absolute;
            width: 3px;
        }

        .background {
            background-color: rgba($color-primary-2, 0.25);
            height: 100%;
            z-index: 1;
        }

        .bar {
            bottom: 0;
            background-color: $color-primary-2;
            z-index: 2;
        }
    }

    .header {
        color: var(--theme-color-secondary);
        display: flex;
        gap: 4px;
        margin-bottom: 4px;
    }

    .value {
        font-size: 2em;
        font-weight: 600;

        &.smallText {
            font-size: 1.5em;
        }

        span {
            font-size: 0.7em;
        }
    }
}
