@import '@styles/variables.scss';

.content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $padding-large;
    justify-content: space-between;

    .info {
        h1 {
            font-size: 2em;
            margin-bottom: 0.25em;

            @media (min-width: $bp-screen-1) {
                font-size: 2.5em;
            }
        }
    }

    .profile {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: $padding-large;
        width: 100%;

        .details {
            align-items: center;
            display: flex;
            justify-content: center;
            gap: $padding-large;
            width: 100%;

            .image {
                border-radius: 50%;
            }

            .imageFallback {
                background-color: $color-gray-8;
                border-radius: 50%;
                height: 60px;
                width: 60px;
            }

            .name {
                font-size: 1.5em;
                font-weight: 500;
            }
        }

        .products {
            display: flex;
            font-size: 0.9em;
            gap: $padding;
            justify-content: center;
            width: 100%;

            .product {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                text-align: center;
                width: calc(100% / 3);

                svg {
                    color: $color-primary-3;
                }
            }
        }
    }
}
