@import '@styles/variables.scss';

.track {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $space-xlarge;
    justify-content: space-between;
    gap: $padding-large;
    justify-content: flex-start;

    .image {
        border-radius: 4px;
        margin: 0 auto;
    }

    .info {
        text-align: center;
        width: 100%;

        h1 {
            font-size: 2em;
            margin-bottom: 0.25em;
        }
    }

    @media (min-width: $bp-stack-1) {
        .image {
            margin: unset;
        }

        .info {
            text-align: left;
            width: auto;
        }
    }

    @media (min-width: $bp-stack-2) {
        .info h1 {
            font-size: 2.5em;
        }
    }

    @media (min-width: $bp-stack-3) {
        .info h1 {
            font-size: 3em;
        }
    }
}
