@import '@styles/constants.scss';

.wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $space-xlarge;
    justify-content: space-between;

    .main {
        flex-grow: 1;

        h1 {
            font-size: 2em;
            margin-bottom: 0.25em;

            @media (min-width: $bp-stack-2) {
                font-size: 2.5em;
            }

            @media (min-width: $bp-stack-3) {
                font-size: 4em;
            }
        }
    }

    .profile {
        align-items: center;
        display: flex;
        flex-grow: 1;
        gap: $space-xlarge;
        max-width: 100%;
        overflow: hidden;
        width: 100%;

        @media (min-width: $bp-stack-2) {
            flex-grow: 0;
            width: unset;
        }

        .image {
            border-radius: 50%;
        }

        .details {
            .name {
                display: block;
                font-size: 1.5em;
                font-weight: 500;
                margin-bottom: $space-small;
            }

            .products {
                column-gap: $space-xlarge;
                display: flex;
                font-size: 0.9em;
                justify-content: flex-start;
                row-gap: $space-small;

                .product {
                    align-items: center;
                    display: flex;
                    gap: 0.5em;
                    text-align: center;
                    white-space: nowrap;

                    svg {
                        color: var(--color-primary-3);
                    }
                }
            }
        }
    }
}
