@import '@styles/constants.scss';

$height: 420px;
$rows: 5;
$row-height: calc(($height / $rows) - ($space-xs * 2));

.scroller {
    max-height: $height;
    overflow-y: scroll;
    width: 100%;

    .list {
        display: grid;
        grid-auto-rows: $row-height;
        grid-template-columns: 1fr;
        height: 100%;
        gap: $space-xs;
    }
}
