@import 'styles/constants.scss';

@keyframes tempo {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(100%);
    }
}

.wrapper {
    display: flex;
    gap: $space-m;
    justify-content: space-between;

    .bar {
        border-radius: 3px;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        width: 3px;

        .percent,
        .tempo {
            bottom: 0;
            position: absolute;
            width: 100%;
        }

        .tempo {
            animation-iteration-count: infinite;
            animation-name: tempo;
            height: 100%;
        }

        &.primary {
            background-color: rgba($color-primary-2, 0.25);

            .percent {
                background-color: $color-primary-2;
            }

            .tempo {
                background: linear-gradient(
                    to top,
                    $color-primary-2,
                    rgba($color-primary-2, 0.5) 80%,
                    rgba($color-primary-2, 0) 100%
                );
            }
        }

        &.secondary {
            background-color: rgba($color-secondary-2, 0.25);

            .percent {
                background-color: $color-secondary-2;
            }

            .tempo {
                background: linear-gradient(
                    to top,
                    $color-secondary-2,
                    rgba($color-secondary-2, 0.5) 80%,
                    rgba($color-secondary-2, 0) 100%
                );
            }
        }
    }

    .content {
        flex-grow: 1;

        .header {
            color: var(--theme-color-2);
            display: flex;
            gap: $space-xs;
            margin-bottom: $space-xs;
        }

        .values {
            display: flex;
            gap: $space-m;
            justify-content: space-between;

            .value {
                font-size: 2em;
                font-weight: 600;

                &.primary {
                    color: $color-primary-2;
                }

                &.secondary {
                    color: $color-secondary-2;
                }

                &.smallText {
                    font-size: 1.5em;
                }

                span {
                    font-size: 0.7em;
                }
            }
        }
    }
}
