@import '@styles/variables.scss';

.button {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    font-weight: 500;
    gap: 0.5em;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: $transition;
    transition-property: background-color, border-color, box-shadow, color;

    &.cta {
        background-color: $color-primary-3;
        color: #ffffff;

        &:hover {
            background-color: $color-primary-2;
            box-shadow: 0px 4px 12px -4px rgba($color-primary-3, 0.25);
        }
    }

    &.primary {
        background-color: $color-primary-0;
        color: $color-gray-9;

        &:hover {
            background-color: $color-primary-1;
            box-shadow: 0px 4px 12px -4px rgba($color-primary-3, 0.25);
        }
    }

    &.secondary {
        background-color: $color-gray-6;
        color: $color-gray-1;

        &:hover {
            background-color: $color-gray-5;
            box-shadow: 0px 4px 12px -4px rgba($color-gray-5, 0.25);
        }
    }

    &.tertiary {
        background-color: rgba($color-gray-5, 0.1);
        border: 1px solid $color-gray-6;
        color: $color-gray-4;

        &:hover {
            background-color: rgba($color-gray-5, 0.2);
            border-color: $color-gray-4;
            color: $color-gray-2;
        }
    }

    &.inMenu {
        background-color: $color-gray-7;
        border-radius: 0;
        color: $color-gray-1;
        width: 100%;

        &:hover {
            background-color: $color-gray-6;
            box-shadow: 0px 4px 12px -4px rgba($color-gray-5, 0.25);
        }
    }
}

.menuwrapper {
    $trigger-size: 26px;
    $menu-offset: calc(100% + $padding / 2);

    display: inline-flex;
    position: relative;

    .trigger {
        background-color: transparent;
        color: $color-gray-5;
        fill: rgba($color-gray-5, 0.1);
        height: $trigger-size;
        padding: 0;
        width: $trigger-size;

        &:hover,
        &.open {
            color: $color-gray-4;
        }

        &.open {
            z-index: 101;

            svg {
                z-index: 2;
            }

            &:before {
                background-color: $color-gray-8;
                border-radius: 50% 50% 0 0;
                content: '';
                height: $menu-offset;
                left: 0;
                outline: 3px solid $color-gray-8;
                pointer-events: none;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .menu {
        background-color: $color-gray-8;
        border: 3px solid $color-gray-8;
        border-radius: 4px;
        box-shadow: 0px 0px 12px #000000;
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: $menu-offset;
        transform: translateX(-50%);
        width: clamp(180px, 240px, 50vw);
        z-index: 100;

        &.open {
            display: block;
        }

        &.left {
            transform: translateX(calc(-100% + $trigger-size + $padding));
        }

        &.right {
            transform: translateX($padding-negative);
        }

        li {
            list-style-type: none;

            &:first-child {
                .button {
                    border-radius: 2px 2px 0 0;
                }
            }

            &:last-child {
                .button {
                    border-radius: 0 0 2px 2px;
                }
            }
        }
    }
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $padding;
}
