@import '@styles/variables.scss';

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 24px;

    .bar {
        border-radius: 1px;
        height: 1px;
        width: 100%;
    }
}
