@import '@styles/variables.scss';

.header {
    background-color: $color-gray-bg;
    padding-top: $padding;
    position: relative;

    &.isSticky {
        position: sticky;
        top: 0;
        z-index: $z-sticky;

        > div:not(.content) {
            margin-top: neg($padding);
            top: 100%;
        }
    }

    .content {
        align-items: center;
        background-color: #000000;
        border: 1px solid $color-gray-8;
        border-radius: 8px;
        display: flex;
        font-size: 0.9em;
        justify-content: space-between;
        margin-bottom: neg($padding);
        padding: $padding;

        &.hasData {
            padding-bottom: calc($padding * 2);
        }

        .titles {
            .title {
                font-size: 1.25em;
                font-weight: 600;

                @media (min-width: 480px) {
                    font-size: 1.5em;
                }
            }

            p {
                color: $color-gray-5;
                margin-top: 0.25em;
            }
        }

        .navigation {
            align-items: center;
            display: flex;
            gap: $padding;
        }
    }
}
