@import '@styles/variables.scss';

.header {
    background-color: var(--theme-background-color);
    border-radius: 0 0 8px 8px;
    padding-top: $padding;
    position: relative;

    &.isSticky {
        position: sticky;
        top: 0;
        z-index: $z-sticky;

        > div:not(.content) {
            margin-top: neg($padding);
            top: 100%;
        }
    }

    .content {
        align-items: center;
        background-color: var(--theme-shade-min);
        border-radius: 8px;
        display: flex;
        font-size: 0.9em;
        justify-content: space-between;
        margin-bottom: neg($padding);
        padding: $padding;

        &.hasPanel {
            padding-bottom: calc($padding * 2);
        }
    }
}
