@import 'styles/constants.scss';

@import 'styles/constants.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $space-s;
    height: 100%;
    min-width: calc($content-height * 1.75);
    width: 100%;

    .chart {
        position: relative;
        flex-grow: 1;

        .features {
            background-color: rgba(var(--theme-shade-min-rgb), 0.9);
            border-radius: 8px;
            bottom: $space-m;
            display: flex;
            gap: $space-l;
            left: 0;
            padding: $space-l;
            position: absolute;

            .divider {
                background-color: var(--theme-color-4);
                width: 2px;
            }
        }
    }

    .timeline {
        align-items: center;
        color: var(--theme-color-4);
        display: flex;
        gap: $space-s;
        justify-content: space-between;

        .line {
            background-color: var(--theme-color-4);
            flex-grow: 1;
            height: 1px;
        }
    }
}
