@import 'styles/constants.scss';

@import 'styles/constants.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: calc($content-height * 1.5);
    width: 100%;

    .chart {
        position: relative;
        flex-grow: 1;

        .features {
            background-color: rgba(var(--theme-shade-min-rgb), 0.75);
            border-radius: 4px;
            bottom: $space-xxl;
            display: flex;
            gap: $space-xl;
            left: 0;
            padding: $space-m;
            position: absolute;
        }
    }

    .timeline {
        align-items: center;
        color: var(--theme-color-3);
        display: flex;
        gap: $space-s;
        justify-content: space-between;

        .line {
            border-top: 1px dashed var(--theme-color-3);
            flex-grow: 1;
            height: 0px;
        }
    }
}
