@import 'styles/constants.scss';

.tile {
    background-color: var(--theme-tile-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: $space-m;
    padding: $space-s;

    &:hover {
        text-decoration: none;

        .name {
            text-decoration: underline;
        }
    }

    .image {
        aspect-ratio: 1 / 1;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;

        img {
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: $space-s;
        margin: auto 0;

        .name {
            line-height: 1.2;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .label {
            align-items: center;
            color: var(--theme-color-2);
            display: flex;
            font-size: 0.9em;
            gap: 4px;
        }
    }
}
