@import '@styles/constants.scss';

.button {
    --primary-background-color: var(--color-grey-9);
    --primary-color: var(--color-grey-0);

    --secondary-background-color: var(--color-grey-4);
    --secondary-color: var(--color-grey-9);
    --secondary-hover-background-color: var(--color-grey-5);

    --tertiary-background-color: var(--color-grey-1);
    --tertiary-border-color: var(--color-grey-2);
    --tertiary-color: var(--color-grey-9);
    --tertiary-hover-background-color: var(--color-grey-2);

    --inMenu-background-color: var(--color-grey-4);
    --inMenu-color: var(--color-grey-9);
    --inMenu-hover-background-color: var(--color-grey-5);
}

:global(.theme-light) .button {
    --primary-background-color: var(--color-grey-0);
    --primary-color: var(--color-grey-9);

    --secondary-background-color: var(--color-grey-7);
    --secondary-color: var(--color-grey-0);
    --secondary-hover-background-color: var(--color-grey-8);

    --tertiary-background-color: var(--color-grey-9);
    --tertiary-border-color: var(--color-grey-8);
    --tertiary-color: var(--color-grey-1);
    --tertiary-hover-background-color: rgb(255, 255, 255);

    --inMenu-background-color: var(--color-grey-7);
    --inMenu-color: var(--color-grey-0);
    --inMenu-hover-background-color: var(--color-grey-9);
}

.button {
    @include focus-outline;

    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    font-weight: 500;
    gap: 0.5em;
    line-height: 1;
    outline-offset: -2px;
    padding: 0.75em 1em;
    text-decoration: none;
    transition: $transition;
    transition-property: background-color, border-color, box-shadow, color,
        outline-color;

    &:hover {
        text-decoration: none;
    }

    &.cta {
        background-color: var(--color-primary-2);
        color: rgb(255, 255, 255);
        transition-duration: $transition-speed-slow;

        &:hover {
            background-color: var(--color-primary-3);
            box-shadow: 0px 4px 12px -4px rgba(var(--color-primary-3), 0.5);
        }
    }

    &.primary {
        background-color: var(--primary-background-color);
        color: var(--primary-color);
        transition-duration: $transition-speed-slow;

        &:hover {
            background-color: var(--color-primary-2);
            color: var(--color-primary-5);
        }
    }

    &.secondary {
        background-color: var(--secondary-background-color);
        color: var(--secondary-color);

        &:hover {
            background-color: var(--secondary-hover-background-color);
        }
    }

    &.tertiary {
        background-color: var(--tertiary-background-color);
        border-color: var(--tertiary-border-color);
        color: var(--tertiary-color);

        &:hover {
            background-color: var(--tertiary-hover-background-color);
        }
    }

    &.inMenu {
        background-color: var(--inMenu-background-color);
        border-radius: 0;
        color: var(--inMenu-color);
        gap: 1em;
        padding: 0.75em 1em;
        width: 100%;

        &:hover {
            background-color: var(--inMenu-hover-background-color);
        }
    }
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
}
