@import '@styles/variables.scss';

.main {
    grid-template-areas:
        'library'
        'recent'
        'artists'
        'albums';

    @media (min-width: $bp-screen-1) {
        grid-template-columns: inherit;
        grid-template-areas:
            'library library'
            'recent artists'
            'recent albums';
    }

    @media (min-width: $bp-screen-2) {
        grid-template-areas:
            'library library library'
            'recent recent artists'
            'recent recent albums';
    }

    @media (min-width: $bp-screen-3) {
        grid-template-areas:
            'library library library library recent recent'
            'library library library library artists artists'
            'library library library library albums albums';
    }
}
