@import 'styles/constants.scss';

$rows: 2;
$row-height: $content-height / $rows;
$cell-height: $row-height - ($space-m / $rows);

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat($rows, minmax(0, $cell-height));
    grid-auto-columns: 130px;
    gap: $space-m;
}
