@import '@styles/constants.scss';

.panel {
    --border-color: var(--color-grey-2);
}

:global(.theme-light) .panel {
    --border-color: var(--color-grey-8);
}

.panel {
    background-color: var(--theme-shade-min);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: $space-xl;
    padding: $space-m;
    width: 100%;

    &.hasImage {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: clamp(0px, 100%, 1200px) auto;
        border: 2px solid var(--border-color);
        overflow: hidden;
        position: relative;
        z-index: $z-normal;

        &::before {
            aspect-ratio: 1 / 1;
            background-image: linear-gradient(
                to top,
                var(--theme-shade-min),
                rgba(var(--theme-shade-min-rgb), 0.8)
            );
            bottom: 0;
            content: '';
            left: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

        > * {
            position: relative;
            z-index: 2;
        }

        @media (min-width: $breakpoint-2) {
            background-position: right center;

            &::before {
                aspect-ratio: unset;
                background-image: linear-gradient(
                    to right,
                    var(--theme-shade-min),
                    var(--theme-shade-min) clamp(0px, 100%, calc(100% - 1200px)),
                    rgba(var(--theme-shade-min-rgb), 0.8)
                );
            }
        }
    }

    h2 {
        color: var(--theme-color-secondary);
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        gap: 0.5em;
        grid-column: span 3;
        margin-top: $space-m;
    }

    .panel {
        background-color: var(--theme-background-color);
        border: 1px solid var(--border-color);
        border-radius: 6px;
    }

    .container {
        container-type: inline-size;
    }
}
