@import '@styles/variables.scss';

.controls {
    background-color: #000000;
    border: 1px solid $color-gray-8;
    border-radius: 8px 8px 0 0;
    display: flex;
    font-size: 0.9em;
    justify-content: space-between;
    margin-bottom: neg($padding);
    padding: $padding;
    padding-bottom: calc($padding * 2);

    .info {
        span {
            font-weight: 600;
        }

        p {
            color: $color-gray-6;
        }
    }
}
