@import '@styles/variables.scss';

$trigger-size: 30px;
$menu-offset: calc(100% + $padding / 2);

.wrapper {
    display: inline-flex;
    position: relative;

    .trigger {
        background-color: transparent;
        border: none;
        border-radius: 50%;
        color: $color-gray-5;
        cursor: pointer;
        height: $trigger-size;
        outline: 0px solid $color-gray-6;
        overflow: hidden;
        padding: 0;
        transition: $transition;
        transition-property: background-color, color, outline-width;
        width: $trigger-size;

        &::before {
            background-color: transparent;
            border-radius: calc($trigger-size / 2) calc($trigger-size / 2) 0 0;
            content: '';
            height: calc($menu-offset - 3px);
            left: 0;
            outline: 3px solid transparent;
            pointer-events: none;
            position: absolute;
            top: 0;
            transform: scaleX(0.85);
            transition: $transition;
            transition-property: background-color, outline-color, transform;
            width: 100%;
            z-index: 1;
        }

        &:hover {
            outline-width: 3px;
        }

        &.open {
            background-color: $color-gray-6;
            color: $color-gray-4;
            outline-width: 0px;
        }

        &.open {
            z-index: calc($z-overlay + 1);

            &::before {
                background-color: $color-gray-8;
                outline-color: $color-gray-8;
                transform: scale(1);
            }
        }

        img,
        svg {
            position: relative;
            z-index: 2;
        }
    }

    .menu {
        background-color: $color-gray-8;
        border-radius: 4px;
        box-shadow: 0px 0px 12px #000000;
        margin: 0;
        opacity: 0;
        outline: 3px solid $color-gray-8;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: $menu-offset;
        transform: translateX(-50%) scale(0.95);
        transform-origin: top center;
        transition: $transition;
        transition-property: opacity, transform;
        width: clamp(180px, 240px, 75vw);
        z-index: $z-overlay;

        &.open {
            opacity: 1;
            pointer-events: auto;
            transform: translateX(-50%) scale(1);
        }

        &.left {
            transform: translateX(calc(-100% + $trigger-size + $padding))
                scale(0.95);
            transform-origin: top right;

            &.open {
                transform: translateX(calc(-100% + $trigger-size + $padding))
                    scale(1);
            }
        }

        &.right {
            transform: translateX(neg($padding)) scale(0.95);
            transform-origin: top left;

            &.open {
                opacity: 1;
                transform: translateX(neg($padding)) scale(1);
            }
        }

        li {
            list-style-type: none;
            margin-bottom: 2px;

            &:last-child {
                margin-bottom: 0;
            }

            .button {
                border-radius: 2px;
            }
        }
    }
}
