:root {
    [class^='Menu'] {
        --background-color: var(--color-grey-3);
        --box-shadow-color: rgb(0, 0, 0);
        --image-overlay-background-color: rgba(0, 0, 0, 0.8);
        --trigger-color: var(--color-grey-6);
        --trigger-hover-background-color: var(--color-grey-3);
    }

    .theme-light {
        [class^='Menu'] {
            --background-color: var(--color-grey-9);
            --box-shadow-color: rgba(0, 0, 0, 0.35);
            --image-overlay-background-color: rgba(255, 255, 255, 0.8);
            --trigger-color: var(--color-grey-4);
            --trigger-hover-background-color: var(--color-grey-8);
        }
    }
}
