@import '@styles/constants.scss';

.main {
    grid-template-areas:
        'tracks'
        'related'
        'artist'
        'about'
        'playlists';

    @media (min-width: $bp-stack-2) {
        grid-template-areas:
            'tracks tracks'
            'related playlists'
            'artist about';
    }

    @media (min-width: $bp-stack-3) {
        grid-template-columns: grid-cols(6);
        grid-template-areas:
            'tracks tracks tracks tracks tracks tracks'
            'related related related related playlists playlists'
            'artist artist artist about about about';
    }

    @media (min-width: $bp-stack-4) {
        grid-template-areas:
            'tracks tracks tracks tracks related related'
            'playlists playlists artist artist about about';
    }
}
