@import '@styles/constants.scss';

.titles {
    .link {
        @include focus-outline;

        text-decoration: none;
        transition-property: color, outline-color;

        .title {
            font-size: 1.25em;
            font-weight: 600;

            @media (min-width: $bp-stack-2) {
                font-size: 1.5em;
            }
        }
    }

    p {
        color: var(--color-grey-5);
        margin-top: 0.25em;
    }
}

.navigation {
    align-items: center;
    display: flex;
    gap: $space-medium;
}
