@import 'styles/constants.scss';

.header {
    border-radius: 0 0 8px 8px;
    padding-top: $space-m;
    position: relative;

    &.isSticky {
        position: sticky;
        top: 0;
        z-index: $z-sticky;

        > div:not(.content) {
            margin-top: neg($space-m);
            top: 100%;
        }
    }

    .navBar {
        align-items: center;
        background-color: var(--theme-shade-min);
        border-radius: 8px;
        display: flex;
        font-size: 0.9em;
        justify-content: space-between;
        padding: $space-m;

        &.hasPanel {
            margin-bottom: neg($space-m);
            padding-bottom: calc($space-m * 2);
        }

        .link {
            @include focus-outline;

            text-decoration: none;
            transition-property: color, outline-color;

            &:hover {
                color: $color-primary-2;
            }

            .title {
                font-size: 1.25em;
                font-weight: 600;

                @media (min-width: $breakpoint-2) {
                    font-size: 1.5em;
                }
            }
        }
    }
}
