@import '@styles/variables.scss';

.button {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    font-weight: 500;
    gap: 0.5em;
    line-height: 1;
    padding: 0.75em 1em;
    text-decoration: none;
    transition: $transition;
    transition-property: background-color, border-color, box-shadow, color;

    &.cta {
        background-color: $theme-color-button-cta-face;
        color: #ffffff;

        &:hover {
            background-color: $theme-color-button-cta-face-hover;
            box-shadow: 0px 4px 12px -4px rgba($color-primary-3, 0.5);
        }
    }

    &.primary {
        background-color: $theme-color-button-primary-face;
        color: $theme-color-button-primary-text;

        &:hover {
            background-color: $theme-color-button-primary-face-hover;
            color: $theme-color-button-primary-text-hover;
            box-shadow: 0px 4px 12px -4px rgba($color-primary-2, 0.25);
        }
    }

    &.secondary {
        background-color: $theme-color-button-secondary-face;
        color: $theme-color-min;

        &:hover {
            background-color: $theme-color-button-secondary-face-hover;
        }
    }

    &.tertiary {
        background-color: $theme-color-button-tertiary-face;
        border-color: $theme-color-button-tertiary-border;
        color: $theme-color-button-tertiary-text;

        &:hover {
            background-color: $theme-color-button-tertiary-face-hover;
            border-color: $theme-color-button-tertiary-border-hover;
        }
    }

    &.inMenu {
        background-color: $color-gray-7;
        border-radius: 0;
        color: $color-gray-1;
        gap: 1em;
        padding: 0.75em 1em;
        width: 100%;

        &:hover {
            background-color: $color-gray-6;
            box-shadow: 0px 4px 12px -4px rgba($color-gray-5, 0.25);
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: $padding;
}
