@import '@styles/variables.scss';

.button {
    @include focus-outline;

    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    font-weight: 500;
    gap: 0.5em;
    line-height: 1;
    outline-offset: -2px;
    padding: 0.75em 1em;
    text-decoration: none;
    transition: $transition;
    transition-property: background-color, border-color, box-shadow, color,
        outline-color;

    &:hover {
        text-decoration: none;
    }

    &.cta {
        background-color: $color-primary-2;
        color: rgb(255, 255, 255);
        transition-duration: $transition-speed-slow;

        &:hover {
            background-color: $color-primary-3;
            box-shadow: 0px 4px 12px -4px rgba($color-primary-3, 0.5);
        }
    }

    &.primary {
        background-color: var(--Button-primary-background-color);
        color: var(--Button-primary-color);
        transition-duration: $transition-speed-slow;

        &:hover {
            background-color: $color-primary-2;
            color: $color-primary-5;
        }
    }

    &.secondary {
        background-color: var(--Button-secondary-background-color);
        color: var(--Button-secondary-color);

        &:hover {
            background-color: var(--Button-secondary-hover-background-color);
        }
    }

    &.tertiary {
        background-color: var(--Button-tertiary-background-color);
        border-color: var(--Button-tertiary-border-color);
        color: var(--Button-tertiary-color);

        &:hover {
            background-color: var(--Button-tertiary-hover-background-color);
        }
    }

    &.inMenu {
        background-color: var(--Button-inMenu-background-color);
        border-radius: 0;
        color: var(--Button-inMenu-color);
        gap: 1em;
        padding: 0.75em 1em;
        width: 100%;

        &:hover {
            background-color: var(--Button-inMenu-hover-background-color);
        }
    }
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $padding;
}
