@import '@styles/variables.scss';

.wrapper {
    .heading {
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        gap: 0.5em;
        letter-spacing: 0.1em;
        margin-bottom: 1em;
        text-transform: uppercase;
    }

    .tracks {
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        overflow: hidden;
    }
}
