@import '@styles/constants.scss';

.wrapper {
    display: grid;
    gap: $space-xl;
    grid-template-columns: grid-cols(3);

    .item {
        background-color: var(--theme-background-color);
        border-radius: 8px;
        grid-column: span 1;
        padding: $space-xl;

        h3 {
            display: flex;
            gap: 0.5em;
            font-size: 0.75em;
            font-weight: 300;
            letter-spacing: 0.1em;
            margin-bottom: 1em;
            text-transform: uppercase;
        }

        span {
            font-size: 3em;
            font-weight: 700;
        }
    }

    .tracks {
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        grid-column: span 3;
        overflow: hidden;
    }
}
