@import 'styles/constants.scss';

.tooltip {
    background-color: var(--theme-background-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: $space-s;
    min-width: 150px;
    padding: $space-s;
}
